body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #87CEEB;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food {
    width: 200px;
    height: 100px;
    background: url('food1.png') no-repeat center center;
    background-size: contain;
    position: absolute;
    z-index: 1;
    display: none;
}
.fish {
    scale: 2;
    width: 200px;
    height: 100px;
    background: url('koi4.webp') no-repeat center center;
    background-size: contain;
    animation: rotate-slow 4s linear infinite;
    position: relative;
}

.food.fall {
    display: block;
    animation: fall 3s linear forwards;
}

@keyframes rotate-slow {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fall {
    from {
        top: -100px;
    }
    to {
        top: calc(50vh - 50px);
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#growButton {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
}