.flex-container{
width: 100%;
height: auto;
text-align: center;
}


h1 {
    font-size: 54px;
    line-height: 59px;
}

p {
    font-size: 24px;
    line-height: 31px;
}

a{
    font-size: 20px;
    line-height: 26px;
    color: black;
    font-weight: bold;
    }

.frst {
    width: 360px;
    height: 360px;
    object-fit: cover;
    border-radius: 50%;
    padding-left: 30px;
}

.first {
    height: 267px;
    width: 253px;
    transform: scaleX(-1);
    position: relative;
    bottom: 520px;
    right: 90px;
}

.main {
margin-top: 67px;
}

.rg_tp {
    height: 188px;
    width: 232px;
    transform: rotate(110deg);
    position: relative;
    z-index: -1;
    bottom: 440px;
    left: 225px;
}

.bt_lft {
        height: 188px;
        width: 232px;
        position: relative;
        z-index: -1;
        bottom: 390px;
        right: 60px;
}

.third {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.blb {
    height: 188px;
    width: 232px;
    position: relative;
    z-index: -1;
    bottom: 230px;
    left: 220px;
}

h2{
    white-space: nowrap;}

.middle {
    padding-left: 116px;
    padding-right: 116px;
}

@media only screen and (max-width: 375px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .item2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .middle {
        padding-left: 0;
        padding-right: 0;
    }

    h2{
        white-space: none;}

        .first {
            z-index: -1;
            right: 120px;
            bottom: 550px;
        }

        h1{
            font-size: 36px;
        }

        p {
            font-size: 20px;
        }

        .frst {
            width: 340px;
            height: 340px;
            object-fit: cover;
            border-radius: 50%;
            padding-left: 30px;
        }

        main {
            width: auto;
        }
}

